body {
	background-image: url("img/tlov6.png") ;
	background-size: cover;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
}

head {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}

.feed-form {
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ddd;
  background: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.navbar-brand mr-4 {
  font-weight: 620 !important;
}

.bg-steel {
  background-color: #2a3d59;
  opacity: 1;
  font-size: 107%; 
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  cursor: pointer;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  cursor: pointer;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.feed-qn {
  padding: 10px 0;
  font-weight: 700;
}

.feed-r, .feed-o {
  width: 100%;
  margin-bottom: 20px;
}

.feed-o {
  padding: 10px;
  border: 0;
}

.feed-go {
  padding: 10px 20px;
  font-weight: 700;
  border: 0;
  color: #fff;
  background: #006aee;
  cursor: pointer;
}

.center {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 51%;
  border: 5px solid #304564;
  padding: 10px;
  border-radius: 40px;
  background-color: #f0e0c4;
  opacity: 1;
}

.pyt {
  opacity: 1 !important;
	font-size: 128% !important;
  line-height: 120%;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 0px;
  margin-top: 0;
  word-wrap: break-word !important;
}

.odp {
	font-size: 112% !important;
  line-height: 1;
  width: 100% !important; 
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 2px;
  padding: 0px 5px;
  opacity: 1 !important;
}

.odp2 {
	font-size: 112% !important;
  line-height: 1;
  width: 100% !important; 
  margin-top: 0px;
  box-sizing: border-box;
  padding-top: 0px;
  margin-bottom: 2px;
  padding: 0px 5px;
  opacity: 1 !important;
}

select {
  background-color: #d5c2a6;
  border-radius: 11px;
  padding: 5px 0;
  padding-bottom: 5px;
  border: 2px;
  border-color: #a19b85;
  opacity: 1 !important;
  width: 100%; 
  max-width: 230px;
}

.pyt6 {
  padding-bottom: 100px;
  opacity: 1 !important;
}

.odp9 {
  background-color: #d5c2a6;
  border-radius: 11px;
  border: 0px;
  border-color: #88816a;
  padding: 5px 0;
  opacity: 1 !important;
  padding-bottom: 5px;
  width: 100%; 
  max-width: 230px;
}

.pointer {
  cursor: pointer;
}


/* 
Arkusz stylów dla sekcji ABOUT
  */


.about {
  margin: auto;
  margin-top: 260px;
  margin-bottom: 60px;
  box-sizing: border-box;
  width: 51%;
  border: 5px solid #304564;
  padding: 10px;
  border-radius: 40px;
  background-color: #f0e0c4;
  opacity: 1;
  display: block;
}

.headline {
  font-weight: 700!important;
  font-size: 170% !important;
  box-sizing: border-box;
  line-height: 1; 
  padding-top: 0.8rem;
  padding-left: 0.85rem;
  width: 100%;
  text-align: justify;
}

.description
{
  font-size: 125% !important;
  line-height: 150%;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 0.8rem;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  text-align: justify
}
