<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Music survey</title>
 
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/eng" style="font-weight: 620; font-size: 128%;">Music Survey</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/about">About</a>
              <a class="nav-item nav-link" href="/">Polski</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- ANKIETA pyt. osobiste -->
    <div class="center">
      <form action="/save" method = "POST">
         <!-- Pyt1 -->
			<p class="pyt" style="margin-top: 20px;"><b>1. Gender:</b>
        <div class="odp">
				<p>
				  <label class="pointer"><input type="radio" name="answer1" value="kobieta"/> Female &nbsp </label> 
				  <label class="pointer"><input type="radio" name="answer1" value="mezczyzna"/> Male &nbsp  </label>
          <label class="pointer"><input type="radio" name="answer1" value="NOT"/> Prefer not to say </label>
				</p>
        </div>
			  </p>
        <!-- Pyt2 -->
        <p class="pyt"><b>2. Age:</b>
          <div class="odp">
            <div><label class="pointer"><p><input type="radio" name="answer2" value="mniej niz 15"/> Under 15 years old</p></label></div>
            <div><label class="pointer"><p><input type="radio" name="answer2" value="15-20"/> 15-20 years old</p></label></div>
            <div><label class="pointer"><p><input type="radio" name="answer2" value="20-30"/> 21-30 years old</p></label></div>
            <div><label class="pointer"><p><input type="radio" name="answer2" value="30-40"/> 31-40 years old</p></label></div>
            <div><label class="pointer"><p><input type="radio" name="answer2" value="40-50"/> 41-50 years old</p></label></div>
            <div><label class="pointer"><p style="margin-bottom: 0;"><input type="radio" name="answer2" value="powyzej 50"/> Over 50 years old</p></label></div>
          </div>
        </p>
        <!-- Pyt3 -->
        <p class="pyt"><b>3. Education level:</b>
          <div class="odp">
          <p>
            <label class="pointer"><input type="radio" name="answer3" value="podstawowe"/> Primary &nbsp </label>
            <label class="pointer"><input type="radio" name="answer3" value="srednie"/> Secondary &nbsp </label>
            <label class="pointer"><input type="radio" name="answer3" value="zawodowe"/> Vocational &nbsp</label>
            <label class="pointer"><input type="radio" name="answer3" value="wyzsze"/> Higher </label>
          </p>
          </div>
        </p>
        <!-- Pyt4 -->
        <p class="pyt"><b>4. Choose which term describes you best:</b> 
        <div class="odp">
          <div style="padding:0;"><label class="pointer"><p><input type="radio" name="answer4" value="ucze sie"/> I’m studying.</p></label></div>
          <div style="padding:0;"><label class="pointer"> <p><input type="radio" name="answer4" value="studiuje || studiuje"/> I’m studying at the University and/or working. </p></label></div>
          <div style="padding:0;"><label class="pointer"><p><input type="radio" name="answer4" value="jestem emerytem"/> I’m retired.</p> </label></div>
          <div style="padding:0; margin-bottom: 0%;"><label class="pointer"><p style="padding:0; margin-bottom: 0%;"><input type="radio" name="answer4" value="jestem bezrobotny"/> I’m unemployed.</p></label></div>
        </div>
        </p>
        <!-- Pyt5 -->
        <p class="pyt" style="margin-bottom: 5px;"><label for=""><b>5. Choose which term describes you best:</b></label><br>
          <div class="odp2">
            <div style="padding: 5px 0"><label class="pointer"><input type="checkbox" name="answer5" value='zajmuję się tworzeniem muzyki'>&nbsp I create music.<br></label></div>
            <div style="padding: 5px 0"><label class="pointer"><input type="checkbox" name="answer5" value='obrabiam dźwięk'>&nbsp I work with audio processing.<br></label></div>
            <div style="padding: 5px 0"><label class="pointer"><input type="checkbox" name="answer5" value='prowadzę prace badawcze związane z dźwiękiem'>&nbsp I do research related to sound.<br></label></div>
            <div style="padding-top: 5px; padding-bottom: 0; margin-bottom: 0%;"><label class="pointer"><input type="checkbox" name="answer5" value='nie jestem związany z muzyką zawodowo'>&nbsp I’m not connected with music professionally.<br></label></div>
          </div>
        </p>
        <!-- Pyt6 -->
        <p class="pyt" style="padding-top: 0;"><b>6. Country of origin:</b> 
          <p>
            <select name="answer6">
              <option value="Argentyna">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Białoruś">Belarus</option>
              <option value="Belgia">Belgium</option>
              <option value="Brazylia">Brazil</option>
              <option value="Bułgaria">Bulgaria</option>
              <option value="Kambodża">Cambodia</option>
              <option value="Kanada">Canada</option>
              <option value="Chile">Chile</option>
              <option value="Chiny">China</option>
              <option value="Kolumbia">Columbia</option>
              <option value="Chorwacja">Croatia</option> 
              <option value="Kuba">Cuba</option>
              <option value="Czechy">Czech Republic</option> 
              <option value="Dania">Denmark</option>
              <option value="Dominikana">Dominican Republic</option>
              <option value="Ekwador">Ecuador</option>
              <option value="Egipt">Egypt</option>
              <option value="Salwador">El Salvador</option>
              <option value="Estonia">Estonia</option> 
              <option value="Finlandia">Finland</option> 
              <option value="Francja">France</option>
              <option value="Gruzja">Georgia</option>
              <option value="Niemcy">Germany</option>
              <option value="Grecja">Greece</option>
              <option value="Gwatemala">Guatemala</option>
              <option value="Haiti">Haiti</option>
              <option value="Honduras">Honduras</option>
              <option value="HongKong">Hongkong</option>
              <option value="Węgry">Hungary</option>
              <option value="Islandia">Iceland</option> 
              <option value="Indie">India</option>
              <option value="Indonezja">Indonesia</option>
              <option value="Iran">Iran</option>
              <option value="Irlandia">Ireland</option>
              <option value="Włochy">Italy</option>
              <option value="Jamajka">Jamaica</option>
              <option value="Japonia">Japan</option>
              <option value="Kazachstan">Kazakhstan</option>
              <option value="Łotwa">Latvia</option>
              <option value="Litwa">Lithuania</option>
              <option value="Malta">Malta</option>
              <option value="Meksyk">Mexico</option>
              <option value="Monako">Monaco</option>
              <option value="Holandia">Netherlands</option>
              <option value="Nowa Zelandia">New Zealand</option>
              <option value="Norwegia">Norway</option>
              <option value="Panama">Panama</option>
              <option value="Peru">Peru</option>
              <option value="Filipiny">Philippines</option>
              <option value="Polska">Poland</option>
              <option value="Portugalia">Portugal</option>
              <option value="Portoryko">Puerto Rico</option>
              <option value="Rumunia">Romania</option>
              <option value="Rosja">Russia</option>
              <option value="Arabia Saudyjska">Saudi Arabia</option>
              <option value="Serbia">Serbia</option>
              <option value="Singapur">Singapore</option>
              <option value="Słowacja">Slovakia</option>
              <option value="Słowenia">Slovenia</option>
              <option value="RPA">South Africa</option>
              <option value="Hiszpania">Spain</option>
              <option value="Szwecja">Sweden</option>
              <option value="Szwajcaria">Switzerland</option>
              <option value="Tajlandia">Thailand</option> 
              <option value="Turcja">Turkey</option>  
              <option value="Ukraina">Ukraine</option>
              <option value="Wielka Brytania">United Kingdom</option> 
              <option value="Stany Zjednoczone">United States</option>
              <option value="Urugwaj">Uruguay</option>
              <option value="Wenezuela">Venezuela</option>
              <option value="Wietnam">Vietnam</option>
              <option value="inne">other</option>
              <span class="pyt6"></span>
            </select>
          </p>
        </p>
        <!-- Pyt7 -->
        <p class="pyt" style="padding-top: 0px;"><b>7. Population of the place of residence:</b>
          <div class="odp"> 
            <div><label class="pointer"><p><input type="radio" name="answer7" value="ponizej 1 tys."/> Up to 1,000 inhabitants </p></label></div>
            <div><label class="pointer"><p><input type="radio" name="answer7" value="1-20 tys."/> 1,000-20,000 inhabitants </p></label></div>
            <div><label class="pointer"><p><input type="radio" name="answer7" value="20-100tys."/> 20,000-100,000 inhabitants </p></label></div>
            <div><label class="pointer"><p><input type="radio" name="answer7" value="powyzej 100tys."/> More than 100,000 inhabitants </p></label></div>
          </div>
        </p>
    </div>
    <!-- ANKIETA pyt. szczegolowe -->
    <div class="center">
        <!-- Pyt8 -->
        <p class="pyt" style="margin-top: 20px;"><b>8. Does your mood affect the choice of songs you listen to? </b>
          <div class="odp">
          <p>
            <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer8" value="tak, wpływa"/> Yes &nbsp </label></div>
            <div style="line-height: 170%;"><label class="pointer" style="padding:0; margin-bottom: 0%;"><input type="radio" name="answer8" value="nie wpływa"/> No </label></div>
          </p>
          </div>
        </p>
        <!-- Pyt9 -->
        <p class="pyt"><b>9. Do you play any instrument? If yes –  which ones? </b> 
          <p><input class = "odp9" type = "text" name = "answer9" placeholder=" No / Yes, I play...[name them]"/></p>
        </p>
        <!-- Pyt10 -->
        <p class="pyt" style="padding-top: 10px;"><b>10. What genres do you listen to the most?</b>  
          <p><select name="answer10">
              <option value="Muzyka alternatywna">Alternative music</option>
              <option value="Muzyka klasyczna">Classical music</option>
              <option value="Disco">Disco</option>
              <option value="Muzyka elektroniczna">Electronic music</option>
              <option value="Folk">Folk</option>
              <option value="Hip Hop/Rap">Hip-hop/Rap</option>
              <option value="Jazz">Jazz</option>
              <option value="Metal">Metal</option>
              <option value="Pop">Pop</option>
              <option value="Reggae">Reggae</option>
              <option value="Rock">Rock</option>
              <option value="R&B">R&B</option>
              <option value="Inny">Other</option>
             </select>
          </p>
        </p>
      <!-- Pyt11 -->
      <p class="pyt" style="padding-top: 10px;"><b>11. How much time on average do you spend on listening to music on a daily basis (listening to music is the dominant activity)?</b>
        <div class="odp">
          <div><label class="pointer"><p><input type="radio" name="answer11" value="mniej niż 30 min"/> Less than 30 min </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer11" value="między 0,5 - 1 godziny"/> Between 0,5 - 1 hour </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer11" value="między 1 - 2 godziny"/> Between 1 - 2 hours </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer11" value="między 2 - 3 godziny"/> Between 2 - 3 hours </p></label></div>
          <div style="padding:0; margin-bottom: 0%;"><label class="pointer"><p style="margin-bottom: 0;"><input type="radio" name="answer11" value="powyzej 3 godzin"/> More than 3 hours </p></label></div>
        </div>
      </p>
      <!-- Pyt12 -->
      <p class="pyt"><b>12. How much time on average do you spend on listening to music on in a passive way (music playing in the background)?</b> 
        <div class="odp">
          <div><label class="pointer"><p><input type="radio" name="answer12" value="mniej niż 30 min"/> Less than 30 min </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer12" value="między 0,5 - 1 godziny"/> Between 0,5 - 1 hours </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer12" value="między 1 - 2 godziny"/> Between 1 - 2 hours </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer12" value="między 2 - 3 godziny"/> Between 2 - 3 hours </p></label></div>
          <div style="padding:0; margin-bottom: 0%;"><label class="pointer"><p style="margin-bottom: 0;"><input type="radio" name="answer12" value="powyzej 3 godzin"/> More than 3 hours </p></label></div>
        </div>
      </p>
      <!-- Pyt13 -->
      <p class="pyt"><b>13. Do you sometimes listen to music to disconnect from one's surroundings?</b>
        <div class="odp">
        <p>
          <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer13" value="tak, odcinam się"/> Yes &nbsp</label></div>
          <div style="line-height: 170%;"><label class="pointer" style="padding:0; margin-bottom: 0%;"><input type="radio" name="answer13" value="nie odcinam się"/> No</label></div>
        </p>
        </div>
      </p>
       <!-- Pyt14 -->
       <p class="pyt"><b>14. Are your social activities/meetings surrounded by music?</b> 
        <div class="odp">
        <p>
          <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer14" value="tak, towarzyszy"/> Yes &nbsp</label></div>
          <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer14" value="tak, stanowi główne tło"/> Yes, but music is mostly the background &nbsp</label></div>
          <div style="line-height: 170%;"><label class="pointer" style="padding:0; margin-bottom: 0%;"><input type="radio" name="answer14" value="nie towarzyszy"/> No </label></div>
        </p>
        </div>
      </p>
      <!-- Pyt15 -->
      <p class="pyt"><b>15. What is your preferred way of listening to music?</b>  
        <p><select name="answer15">
            <option value="CD">CDs</option>
            <option value="radio internetowe">Internet radio</option>
            <option value="radio">radio</option>
            <option value="platfromy streamingowe">streaming platforms</option>
            <option value="płyty winylowe">vinyl records</option>
            <option value="inne">other</option>
           </select>
        </p>
      </p>
      <!-- Pyt16 -->
      <p class="pyt" style="padding-top: 10px;"><b>16. Do you use a streaming platform to listen to music? If yes –  which ones?</b>   
        <p><select name="answer16">
           <option value="nie korzystam z platformy streamingowej">I don’t use any streaming platform</option>
           <option value="Apple Music">Apple Music</option>
           <option value="Spotify">Spotify</option>
           <option value="Tidal">Tidal</option>
           <option value="YouTube Music">YouTube Music</option>
           <option value="inne">other</option> 
           </select>
        </p>
      </p>
      <!-- Pyt17 -->
      <p class="pyt" style="padding-top: 10px;"><b>17. Do you listen to Internet radio stations? If yes – which ones?</b>
        <p><select name="answer17">
          <option value="Nie korzystam z radia FM">I don’t listen to any Internet radio stations</option>
          <option value="Antyradio">Antyradio</option>
          <option value="Jedynka Polskie Radio">Jedynka Polskie Radio</option>
          <option value="Program Trzeci Polskiego Radia">Program Trzeci Polskiego Radia</option>
          <option value="Radio 357">Radio 357</option>
          <option value="Radio ESKA">Radio ESKA</option>
          <option value="Radio Gdańsk">Radio Gdańsk</option>
          <option value="Radio Kaszëbë">Radio Kaszëbë</option>
          <option value="Radio Nowy Świat">Radio Nowy Świat</option>
          <option value="Radio ZET">Radio ZET</option>
          <option value="Radio Złote Przeboje">Radio Złote Przeboje</option>
          <option value="RMF FM">RMF FM</option>
          <option value="Inna">I'm not from Poland, but I listen to my local internet radio station.</option>
         </select>
      </p>
      </p>
       <!-- Pyt18 -->
       <p class="pyt" style="padding-top: 10px;"><b>18. Do you listen to FM radio stations? If yes – which ones?</b>
        <p><input class = "odp9" type = "text" name = "answer18" placeholder=" No / Yes, I listen to...[name them]"/></p>
      </p>
      <!-- Pyt19 -->
      <p class="pyt" style="padding-top: 10px;"><b>19. Do you find radio broadcasts interspersed with music attractive?</b>
        <div class="odp">
        <p>
          <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer19" value="tak, są atrakcyjne"/> Yes &nbsp </label></div>
          <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer19" value="nie są dla mnie atrakcyjne"/> No &nbsp </label></div>
          <div style="line-height: 170%;"><label class="pointer" style="padding:0; margin-bottom: 0%;"><input type="radio" name="answer19" value="nie mam zdania"/> I have no opinion </label></div>
        </p>
        </div>
      </p>
      <!-- Pyt20 -->
      <p class="pyt"><b>20. Are music-only broadcasts attractive to you?</b>  
        <div class="odp">
        <p>
          <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer20" value="tak, są atrkacyjne"/> Yes &nbsp</label></div>
          <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer20" value="nie są dla mnie atrakcyjne"/> No &nbsp</label></div>
          <div style="line-height: 170%;"><label class="pointer" style="padding:0; margin-bottom: 0%;"><input type="radio" name="answer20" value="nie mam zdania"/> I have no opinion </label></div>
        </p>
        </div>
      </p>
      <!-- Pyt21 -->
      <p class="pyt"><b>21. How do you select the songs to play? </b>
        <p><select name="answer21">
          <option value="proponowana playlista">Suggested playlist</option>
           <option value="własna playlista">Own playlist</option>
           <option value="listy przebojów">Charts</option>
           <option value="rekomendacje od znajomych">Recommendations from friends</option>
           <option value="ze względu na wykonawcę">Due to the artist</option>
           <option value="ze względu na album">Due to the album</option>
           <option value="ze względu na rodzaj muzyki">Due to the type of music</option>
           <option value="Inna">Other</option>
           </select>
        </p>
      </p>
      <!-- Pyt22 -->
      <p class="pyt" style="padding-top: 10px;"><b>22. What is the degree to which the proposed playlists are tailored to your musical taste?</b>
        <div class="odp">
          <div><label class="pointer"><p><input type="radio" name="answer22" value="Idealny"/> Perfect </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer22" value="Duży"/> Big </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer22" value="Średni"/> Mediocre </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer22" value="Mały"/> Small</p></label></div>
          <div style="padding:0; margin-bottom: 0%;"><label class="pointer"><p style="margin-bottom: 0;"><input type="radio" name="answer22" value="Praktycznie żaden"/> Virtually none</p></label></div>
        </div>
      </p>
      <!-- Pyt23 -->
      <p class="pyt"><b>23. Do you listen to the playlists in their entirety or do you skip some songs? </b>
        <div class="odp">
          <div><label class="pointer"><p><input type="radio" name="answer23" value="Słucham w całości"/> I listen to the playlists in their entirety. </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer23" value="Pomijam niektóre utwory"/> I skip some tracks. </p> </label></div>
          <div style="padding:0; margin-bottom: 0%;"><label class="pointer"><p style="margin-bottom: 0;"><input type="radio" name="answer23" value="Nie słucham playlist"/> I don't listen to playlists. </p></label></div>
        </div>
      </p>
        <!-- Zapisz odp -->
        <p><input type = "submit" value = "Submit" /></p>  

      </form>
    </div> 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
</html>