<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Music survey - ankieta</title>
 
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/" style="font-weight: 620; font-size: 128%;">Music Survey</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/onas">O projekcie</a>
            </div>
          <div class="prawo">
            <a class="nav-item nav-link" href="/eng">English</a>
          </div>  
          </div>
        </div>
      </nav>
    </header>
    <!-- ANKIETA pyt. osobiste -->
    <div class="center">
      <form action="/save" method = "POST">
         <!-- Pyt1 -->
			<p class="pyt" style="margin-top: 20px;"><b>1. Płeć: <span class="star">*</span> </b>
        <div class="odp">
				<p>
				  <label class="pointer"><input type="radio" name="answer1" required value="kobieta"/> Kobieta &nbsp </label> 
				  <label class="pointer"><input type="radio" name="answer1" value="mezczyzna"/> Mężczyzna &nbsp  </label>
          <label class="pointer"><input type="radio" name="answer1" value="NOT"/> Nie chcę podawać  </label>
				</p>
        </div>
			  </p>
        <!-- Pyt2 -->
        <p class="pyt"><b>2. Wiek: <span class="star">*</span> </b>
          <div class="odp">
            <div><label class="pointer"><p><input type="radio" name="answer2" required value="mniej niz 15"/> Poniżej 15 lat</p> </label> </div>
            <div><label class="pointer"><p><input type="radio" name="answer2" value="15-20"/> 15-20 lat</p>  </label> </div>
            <div><label class="pointer"><p><input type="radio" name="answer2" value="20-30"/> 21-30 lat</p> </label></div>
            <div><label class="pointer"><p><input type="radio" name="answer2" value="30-40"/> 31-40 lat</p>   </label></div>
            <div><label class="pointer"><p><input type="radio" name="answer2" value="40-50"/> 41-50 lat</p> </label></div>
            <div><label class="pointer"><p style="margin-bottom: 0;"><input type="radio" name="answer2" value="powyzej 50"/> Powyżej 50 lat</p> </label></div>
          </div>
        </p>
        <!-- Pyt3 -->
        <p class="pyt"><b>3. Wykształcenie: <span class="star">*</span> </b>
          <div class="odp">
          <p>
            <label class="pointer"><input type="radio" name="answer3" required value="podstawowe"/> Podstawowe &nbsp </label>
            <label class="pointer"><input type="radio" name="answer3" value="srednie"/> Średnie &nbsp </label>
            <label class="pointer"><input type="radio" name="answer3" value="zawodowe"/> Zawodowe &nbsp</label>
            <label class="pointer"><input type="radio" name="answer3" value="wyzsze"/> Wyższe</label>
          </p>
          </div>
        </p>
        <!-- Pyt4 -->
        <p class="pyt"><b>4. Wybierz stwierdzenie, które najlepiej Cię opisuje: <span class="star">*</span> </b> 
        <div class="odp">
          <div style="padding:0;"><label class="pointer"><p><input type="radio" name="answer4" required value="ucze sie"/> Uczę się.</p></label></div>
          <div style="padding:0;"><label class="pointer"> <p><input type="radio" name="answer4" value="studiuje || studiuje"/> Studiuję lub/i pracuję. </p>  </label></div>
          <div style="padding:0;"><label class="pointer"><p><input type="radio" name="answer4" value="jestem emerytem"/> Jestem emerytem.</p> </label></div>
          <div style="padding:0; margin-bottom: 0%;"><label class="pointer"><p style="padding:0; margin-bottom: 0%;"><input type="radio" name="answer4" value="jestem bezrobotny"/> Jestem bezrobotny.</p></label></div>
        </div>
        </p>
        <!-- Pyt5 -->
        <p class="pyt" style="margin-bottom: 5px;"><label for=""><b>5. Wybierz stwierdzenie, które najlepiej Cię opisuje:</b></label><br>
          <div class="odp2">
            <div style="padding: 5px 0"><label class="pointer"><input type="checkbox" name="answer5" value='nie wybrano odp' checked>&nbspNie wybrano odpowiedzi.<br></label></div>
            <div style="padding: 5px 0"><label class="pointer"><input type="checkbox" name="answer5" value='zajmuję się tworzeniem muzyki'>&nbspZajmuję się tworzeniem muzyki.<br></label></div>
            <div style="padding: 5px 0"><label class="pointer"><input type="checkbox" name="answer5" value='obrabiam dźwięk'>&nbspObrabiam dźwięk.<br></label></div>
            <div style="padding: 5px 0"><label class="pointer"><input type="checkbox" name="answer5" value='prowadzę prace badawcze związane z dźwiękiem'>&nbspProwadzę prace badawcze związane z dźwiękiem.<br></label></div>
            <div style="padding-top: 5px; padding-bottom: 0; margin-bottom: 0%;"><label class="pointer"><input type="checkbox" name="answer5" value='nie jestem związany z muzyką zawodowo'>&nbspNie jestem związany z muzyką zawodowo.<br></label></div>
          </div>
        </p>
        <!-- Pyt6 -->
        <p class="pyt" style="padding-top: 0;"><b>6. Kraj pochodzenia: <span class="star">*</span> </b> 
          <p>
            <select name="answer6" required>
              <option value="" disabled selected>Wybierz spośród opcji</option>
              <option value="Polska">Polska</option>
              <option value="Arabia Saudyjska">Arabia Saudyjska</option>
              <option value="Argentyna">Argentyna</option>
              <option value="Armenia">Armenia</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Belgia">Belgia</option>
              <option value="Białoruś">Białoruś</option>
              <option value="Brazylia">Brazylia</option>
              <option value="Bułgaria">Bułgaria</option>
              <option value="Chile">Chile</option>
              <option value="Chiny">Chiny</option>
              <option value="Chorwacja">Chorwacja</option>  
              <option value="Czechy">Czechy</option>              
              <option value="Dania">Dania</option>
              <option value="Dominikana">Dominikana</option>
              <option value="Egipt">Egipt</option>
              <option value="Ekwador">Ekwador</option>
              <option value="Estonia">Estonia</option>
              <option value="Finlandia">Finlandia</option> 
              <option value="Filipiny">Filipiny</option>
              <option value="Francja">Francja</option>
              <option value="Grecja">Grecja</option>
              <option value="Gruzja">Gruzja</option>
              <option value="Gwatemala">Gwatemala</option>
              <option value="Haiti">Haiti</option>
              <option value="Hiszpania">Hiszpania</option>
              <option value="Holandia">Holandia</option>
              <option value="Honduras">Honduras</option>
              <option value="HongKong">Hongkong</option>
              <option value="Indie">Indie</option>
              <option value="Indonezja">Indonezja</option>
              <option value="Iran">Iran</option>
              <option value="Irlandia">Irlandia</option>
              <option value="Islandia">Islandia</option> 
              <option value="Jamajka">Jamajka</option>
              <option value="Japonia">Japonia</option>
              <option value="Kambodża">Kambodża</option>
              <option value="Kanada">Kanada</option>
              <option value="Kazachstan">Kazachstan</option>
              <option value="Kolumbia">Kolumbia</option>
              <option value="Kuba">Kuba</option>
              <option value="Litwa">Litwa</option>
              <option value="Łotwa">Łotwa</option>
              <option value="Malta">Malta</option>
              <option value="Meksyk">Meksyk</option>
              <option value="Monako">Monako</option>
              <option value="Niemcy">Niemcy</option>
              <option value="Norwegia">Norwegia</option>
              <option value="Nowa Zelandia">Nowa Zelandia</option>
              <option value="Panama">Panama</option>
              <option value="Peru">Peru</option>
              <option value="Portugalia">Portugalia</option>
              <option value="Portoryko">Portoryko</option>
              <option value="RPA">Republika Południowej Afryki</option>
              <option value="Rosja">Rosja</option>
              <option value="Rumunia">Rumunia</option>
              <option value="Salwador">Salwador</option>
              <option value="Serbia">Serbia</option>
              <option value="Singapur">Singapur</option>
              <option value="Słowacja">Słowacja</option>
              <option value="Słowenia">Słowenia</option>
              <option value="Stany Zjednoczone">Stany Zjednoczone</option>
              <option value="Szwajcaria">Szwajcaria</option>
              <option value="Szwecja">Szwecja</option>
              <option value="Tajlandia">Tajlandia</option>  
              <option value="Turcja">Turcja</option>   
              <option value="Ukraina">Ukraina</option>
              <option value="Urugwaj">Urugwaj</option>
              <option value="Wenezuela">Wenezuela</option>
              <option value="Węgry">Węgry</option>
              <option value="Wielka Brytania">Wielka Brytania</option>   
              <option value="Włochy">Włochy</option>
              <option value="Wietnam">Wietnam</option>
              <option value="inne">inny</option>
              <span class="pyt6"></span>
            </select>
          </p>
        </p>
        <!-- Pyt7 -->
        <p class="pyt" style="padding-top: 0px;"><b>7. Wielkość miejsca zamieszkania: <span class="star">*</span> </b>
          <div class="odp"> 
            <div><label class="pointer"><p><input type="radio" name="answer7" required value="ponizej 1 tys."/> Poniżej 1 tys. mieszkańców  </p></label></div>
            <div><label class="pointer"><p><input type="radio" name="answer7" value="1-20 tys."/> 1-20 tys. mieszkańców  </p></label></div>
            <div><label class="pointer"><p><input type="radio" name="answer7" value="20-100tys."/> 20-100 tys. mieszkańców </p></label></div>
            <div><label class="pointer"><p><input type="radio" name="answer7" value="powyzej 100tys."/> Powyżej 100 tys. mieszkańców </p></label></div>
          </div>
        </p>
    </div>
    <!-- ANKIETA pyt. szczegolowe -->
    <div class="center">
        <!-- Pyt8 -->
        <p class="pyt" style="margin-top: 20px;"><b>8. Czy Twój nastrój wpływa na wybór słuchanych utworów? <span class="star">*</span> </b>
          <div class="odp">
          <p>
            <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer8" required value="tak, wpływa"/> Tak &nbsp </label></div>
            <div style="line-height: 170%;"><label class="pointer" style="padding:0; margin-bottom: 0%;"><input type="radio" name="answer8" value="nie wpływa"/> Nie </label></div>
          </p>
          </div>
        </p>
        <!-- Pyt9 -->
        <p class="pyt"><b>9. Czy grasz na jakimś instrumencie? Jeśli tak, to jakim? <span class="star">*</span> </b> 
          <p><input class = "odp9" type = "text" name = "answer9" required placeholder=" Nie / Tak, gram na...[wymień]"/></p>
        </p>
        <!-- Pyt10 -->
        <p class="pyt" style="padding-top: 10px;"><b>10. Jakiego gatunku muzycznego najczęściej słuchasz? <span class="star">*</span> </b>  
          <p><select name="answer10" required>
              <option value="" disabled selected>Wybierz spośród opcji</option>
              <option value="Disco polo">Disco polo</option>
              <option value="Folk">Folk</option>
              <option value="Hip Hop/Rap">Hip-hop/Rap</option>
              <option value="Jazz">Jazz</option>
              <option value="Metal">Metal</option>
              <option value="Muzyka alternatywna">Muzyka alternatywna</option>
              <option value="Muzyka elektroniczna">Muzyka elektroniczna</option>
              <option value="Muzyka klasyczna">Muzyka klasyczna</option>
              <option value="Pop">Pop</option>
              <option value="Reggae">Reggae</option>
              <option value="Rock">Rock</option>
              <option value="R&B">R&B</option>
              <option value="Inny">inny</option>
             </select>
          </p>
        </p>
      <!-- Pyt11 -->
      <p class="pyt" style="padding-top: 10px;"><b>11. Ile czasu dziennie słuchasz muzyki w sposób aktywny (słuchanie jest dominującą czynnością, na której się skupiasz, a nie tłem)? <span class="star">*</span> </b>
        <div class="odp">
          <div><label class="pointer"><p><input type="radio" name="answer11" required value="mniej niż 30 min"/> Mniej niż 30 min </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer11" value="między 0,5 - 1 godziny"/>  0,5 - 1 godziny </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer11" value="między 1 - 2 godziny"/>  1 - 2 godziny </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer11" value="między 2 - 3 godziny"/>  2 - 3 godziny </p></label></div>
          <div style="padding:0; margin-bottom: 0%;"><label class="pointer"><p style="margin-bottom: 0;"><input type="radio" name="answer11" value="powyzej 3 godzin"/> Powyżej 3 godzin </p></label></div>
        </div>
      </p>
      <!-- Pyt12 -->
      <p class="pyt"><b>12. Jak długo w ciągu dnia słuchasz muzyki w pasywny (muzyka jest tłem podczas wykonywania innych czynności)? <span class="star">*</span> </b> 
        <div class="odp">
          <div><label class="pointer"><p><input type="radio" name="answer12" required value="mniej niż 30 min"/> Mniej niż 30 min </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer12" value="między 0,5 - 1 godziny"/>  0,5 - 1 godziny </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer12" value="między 1 - 2 godziny"/>  1 - 2 godziny </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer12" value="między 2 - 3 godziny"/>  2 - 3 godziny </p></label></div>
          <div style="padding:0; margin-bottom: 0%;"><label class="pointer"><p style="margin-bottom: 0;"><input type="radio" name="answer12" value="powyzej 3 godzin"/> Powyżej 3 godzin </p></label></div>
        </div>
      </p>
      <!-- Pyt13 -->
      <p class="pyt"><b>13. Czy zdarza Ci się słuchać muzyki w celu odcięcia się od otoczenia? <span class="star">*</span> </b>
        <div class="odp">
        <p>
          <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer13" required value="tak, odcinam się"/> Tak &nbsp</label></div>
          <div style="line-height: 170%;"><label class="pointer" style="padding:0; margin-bottom: 0%;"><input type="radio" name="answer13" value="nie odcinam się"/> Nie </label></div>
        </p>
        </div>
      </p>
       <!-- Pyt14 -->
       <p class="pyt"><b>14. Czy spotkaniom towarzyskim, na które uczęszczasz, towarzyszy muzyka? <span class="star">*</span> </b> 
        <div class="odp">
        <p>
          <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer14" required value="tak, towarzyszy"/> Tak &nbsp</label></div>
          <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer14" value="tak, stanowi główne tło"/> Tak, jednak stanowi ona główne tło &nbsp</label></div>
          <div style="line-height: 170%;"><label class="pointer" style="padding:0; margin-bottom: 0%;"><input type="radio" name="answer14" value="nie towarzyszy"/> Nie </label></div>
        </p>
        </div>
      </p>
      <!-- Pyt15 -->
      <p class="pyt"><b>15. Jaki sposób słuchania muzyki preferujesz? <span class="star">*</span> </b>  
        <p><select name="answer15" required>
           <option value="" disabled selected>Wybierz spośród opcji</option>
           <option value="platfromy streamingowe">Platformy streamingowe</option>
           <option value="CD">Płyty CD</option>
           <option value="płyty winylowe">Płyty winylowe</option>
           <option value="radio">Radio FM</option>
           <option value="radio internetowe">Radio internetowe</option>
           <option value="inne">Inne</option>
           </select>
        </p>
      </p>
      <!-- Pyt16 -->
      <p class="pyt" style="padding-top: 10px;"><b>16. Czy korzystasz z platformy streamingowej do słuchania muzyki? Jeśli tak, to z jakiej? <span class="star">*</span> </b>   
        <p><select name="answer16" required>
           <option value="" disabled selected>Wybierz spośród opcji</option>
           <option value="nie korzystam z platformy streamingowej">Nie korzystam z żadnej platformy streamingowej</option>
           <option value="Apple Music">Apple Music</option>
           <option value="Spotify">Spotify</option>
           <option value="Tidal">Tidal</option>
           <option value="YouTube Music">YouTube Music</option>
           <option value="inne">Inne</option> 
           </select>
        </p>
      </p>
      <!-- Pyt17 -->
      <p class="pyt" style="padding-top: 10px;"><b>17. Czy korzystasz z radia internetowego? Jeśli tak, to z jakiej stacji? <span class="star">*</span> </b>
        <p><select name="answer17" required>
            <option value="" disabled selected>Wybierz spośród opcji</option>
            <option value="Nie korzystam z radia FM">Nie korzystam z radia internetowego?</option>
            <option value="Antyradio">Antyradio</option>
            <option value="Jedynka Polskie Radio">Jedynka Polskie Radio</option>
            <option value="Program Trzeci Polskiego Radia">Program Trzeci Polskiego Radia</option>
            <option value="Radio 357">Radio 357</option>
            <option value="Radio ESKA">Radio ESKA</option>
            <option value="Radio Gdańsk">Radio Gdańsk</option>
            <option value="Radio Kaszëbë">Radio Kaszëbë</option>
            <option value="Radio Nowy Świat">Radio Nowy Świat</option>
            <option value="Radio ZET">Radio ZET</option>
            <option value="Radio Złote Przeboje">Radio Złote Przeboje</option>
            <option value="RMF FM">RMF FM</option>
            <option value="Inna">Inna</option>
           </select>
        </p>
      </p>
       <!-- Pyt18 -->
       <p class="pyt" style="padding-top: 10px;"><b>18. Czy korzystasz z radia FM? Jeśli tak, to z jakiej stacji? <span class="star">*</span> </b>
        <p><select name="answer18" required>
            <option value="" disabled selected>Wybierz spośród opcji</option>
            <option value="Nie korzystam z radia FM">Nie korzystam z radia FM</option>
            <option value="Antyradio">Antyradio</option>
            <option value="Jedynka Polskie Radio">Jedynka Polskie Radio</option>
            <option value="Program Trzeci Polskiego Radia">Program Trzeci Polskiego Radia</option>
            <option value="Radio ESKA">Radio ESKA</option>
            <option value="Radio Gdańsk">Radio Gdańsk</option>
            <option value="Radio Kaszëbë">Radio Kaszëbë</option>
            <option value="Radio ZET">Radio ZET</option>
            <option value="Radio Złote Przeboje">Radio Złote Przeboje</option>
            <option value="RMF FM">RMF FM</option>
            <option value="Inna">Inna</option>
           </select>
        </p>
      </p>
      <!-- Pyt19 -->
      <p class="pyt" style="padding-top: 10px;"><b>19. Czy uważasz, że audycje radiowe przeplatane muzyką są atrakcyjne? <span class="star">*</span> </b>
        <div class="odp">
        <p>
          <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer19" required value="tak, są atrakcyjne"/> Tak &nbsp </label></div>
          <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer19" value="nie są dla mnie atrakcyjne"/> Nie &nbsp </label></div>
          <div style="line-height: 170%;"><label class="pointer" style="padding:0; margin-bottom: 0%;"><input type="radio" name="answer19" value="nie mam zdania"/> Nie mam zdania </label></div>
        </p>
        </div>
      </p>
      <!-- Pyt20 -->
      <p class="pyt"><b>20. Czy audycje poświęcone tylko muzyce są dla Ciebie atrakcyjne? <span class="star">*</span> </b>  
        <div class="odp">
        <p>
          <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer20" required value="tak, są atrkacyjne"/> Tak &nbsp</label></div>
          <div style="line-height: 170%;"><label class="pointer"><input type="radio" name="answer20" value="nie są dla mnie atrakcyjne"/> Nie &nbsp</label></div>
          <div style="line-height: 170%;"><label class="pointer" style="padding:0; margin-bottom: 0%;"><input type="radio" name="answer20" value="nie mam zdania"/> Nie mam zdania </label></div>
        </p>
        </div>
      </p>
      <!-- Pyt21 -->
      <p class="pyt"><b>21. W jaki sposób wybierasz odtwarzane utwory? <span class="star">*</span> </b>
        <p><select name="answer21" required>
           <option value="" disabled selected>Wybierz spośród opcji</option>
           <option value="proponowana playlista">Proponowana playlista</option>
           <option value="własna playlista">Własna playlista</option>
           <option value="listy przebojów">Listy przebojów</option>
           <option value="rekomendacje od znajomych">Rekomendacje od znajomych</option>
           <option value="ze względu na wykonawcę">Ze względu na wykonawcę</option>
           <option value="ze względu na album">Ze względu na album</option>
           <option value="ze względu na rodzaj muzyki">Ze względu na rodzaj muzyki</option>
           <option value="Inna">Inna</option>
           </select>
        </p>
      </p>
      <!-- Pyt22 -->
      <p class="pyt" style="padding-top: 10px;"><b>22. Jaki jest stopień dopasowania proponowanych playlist do Twojego gustu muzycznego? <span class="star">*</span> </b>
        <div class="odp">
          <div><label class="pointer"><p><input type="radio" name="answer22" required value="Idealny"/> Idealny </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer22" value="Duży"/> Duży </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer22" value="Średni"/> Średni </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer22" value="Mały"/> Mały</p></label></div>
          <div style="padding:0; margin-bottom: 0%;"><label class="pointer"><p style="margin-bottom: 0;"><input type="radio" name="answer22" value="Praktycznie żaden"/> Praktycznie żaden</p></label></div>
        </div>
      </p>
      <!-- Pyt23 -->
      <p class="pyt"><b>23. Czy słuchasz playlisty w całości, czy też pomijasz niektóre utwory? <span class="star">*</span> </b>
        <div class="odp">
          <div><label class="pointer"><p><input type="radio" name="answer23" required value="Słucham w całości"/> Słucham w całości. </p></label></div>
          <div><label class="pointer"><p><input type="radio" name="answer23" value="Pomijam niektóre utwory"/> Pomijam niektóre utwory. </p> </label></div>
          <div style="padding:0; margin-bottom: 0%;"><label class="pointer"><p style="margin-bottom: 0;"><input type="radio" name="answer23" value="Nie słucham playlist"/> Nie słucham playlist. </p></label></div>
        </div>
      </p>
        <!-- Zapisz odp -->
        <div class="centrum">
       